[Unit]
Description=Mom Trader Scanner
After=network.target

[Service]
EnvironmentFile=/opt/scanner/.env
ExecStart=/opt/scanner/scanner_unix %H
WorkingDirectory=/opt/scanner
Restart=on-failure
RestartSec=5
User=root
StandardOutput=append:/var/log/scanner.log
StandardError=append:/var/log/scanner.err
StartLimitIntervalSec=0  # Correct placement inside the [Service] section

[Install]
WantedBy=multi-user.target
