[Unit]
Description=Mom Trader Scanner
After=network.target
StartLimitIntervalSec=0  # Move this line here

[Service]
EnvironmentFile=/opt/scanner/.env
ExecStart=/opt/scanner/scanner_unix %H
WorkingDirectory=/opt/scanner
Restart=on-failure
RestartSec=5
User=root
StandardOutput=append:/var/log/scanner.log
StandardError=append:/var/log/scanner.err

[Install]
WantedBy=multi-user.target
